body, html {
  padding: 0;
  margin: 0;
  height: 100%;
}

#header #logo {
  width: 100%
}

#title .ttitle {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 70px;
  margin: 1% 0 1% 0
}

#body {
  margin-left: 5%;
  margin-right: 5%;
}

#body .proficiencies .charac, .left, .right {
  max-width: 40%;
}
#body .divider {
  clear:both;
}
#body .left {
  float: left;
  margin: 2%
}
#body .right {
  float: right;
  margin: 2%
}
#body .text {
  padding: 0.5% 3%;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px
}

.divider {
  border: 0;
  height: 1px;
  width: 100%;
  margin: 2% 0;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

@media only screen and (min-device-width : 500px){
  #body {
    margin-left: 15%;
    margin-right: 15%;
  }
  #body .text {
    font-size: 18px
  }
}
